/Data/
/Data_0529/
/Data_0130/
/Data_0313/
!/Data/SubjInfo.csv
/RecycleBin/
/Analysis/
/Analysis_0313/
/Analysis_0515/
/FreeView_Paper_sup/Processed_data
/FreeView_Paper_sup/Results/
/FreeView_Paper/results/v1/ALL_fixTable_*.csv
/FreeView_Paper/results/v1.5/ALL_fixTable_*.csv
/FreeView_Paper/results/v2/ALL_fixTable_*.csv
/FreeView_Paper/Results/Full360_time_windows
/FreeView_Paper/Results/Paper_Composites_PDF/*
!/FreeView_Paper/Results/Paper_Composites_PDF/*.fig
*.asv
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.webm
*.mpeg
*.mpg
*.m4v
*.3gp
*.ts
*.vob
*.ogv
*.rm
*.rmvb
